.wrapper {
  padding: 0 10px;
}

.message-header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-bottom: 20px;
}

.message-title {
  width: 50%;
}

.message-title h1 {
  margin-bottom: 20px;
}

.message-title div {
  font-size: 18px;
  margin-bottom: 10px;
}

.statistics {
  width: 50%;
}


